<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">

    <title>Mercado Liebre</title>    
</head>

<body>
    <header>
        <div class="top-header">
            <a class="logo" href="/"><img src="/img/logo-mercado-liebre.svg" alt="logo-mercado-liebre"></a>

            <form class="buscador">
                <input type="search" name="buscador" id="buscador" placeholder="Buscar productos, marcas y más">
                <button type="submit" class="search-button">
                    <i class="fa fa-search"></i>
                </button>                  
            </form>
    
                <p>
                    <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
                </p>
            
        </div> 


        <nav>

            <ul>
                <li>
                    <a href="#">Ofertas</a>
                </li>
                <li>
                    <a href="#">Tiendas Oficiales</a>
                </li>
                <li>
                    <a href="#">Vender</a>
                </li>
                <li>
                    <a href="#">Ayuda</a>
                </li>
            </ul>


            <ul>
                <li>
                    <a href="/register">Creá tu cuenta</a> <i class="far fa-id-card"></i>
                </li>
                <li>
                    <a href="/login">Ingresá</a> <i class="fas fa-sign-in-alt"></i>
                </li>
                <li>
                    <a href="#">Mis compras</a> <i class="fas fa-shopping-basket"></i>
                </li>
            </ul>

        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

    </header>
    <main class="formulario-registro">
        <form class="registro" action="/" method="GET">

            <div>
                <input class="text-field" type="text" name="nombreCompleto" placeholder="Nombre y Apellido">
            </div>

            <div>
                <input class="text-field" type="text" name="usuario" placeholder="Nombre de usuario">
            </div>

            <div>
                <h4><label for="nacimiento">Fecha de nacimiento</label></h4>
                <input type="date" id="nacimimiento" name="nacimiento">
            </div>

            <div>
                <input class="text-field" type="email" name="email" placeholder="E-mail">
            </div>

            <div>
                <input class="text-field" type="text" name="domicilio" placeholder="Calle falsa 123">
            </div>
            
            <h4>Perfil del usuario</h4>
            <div class="seleccionPerfil">
              <input type="radio" name="perfil" value="comprador" id="comprador">
              <label for="comprador">Comprador</label>
            </div>
            
            <div class="seleccionPerfil">
              <input type="radio" name="perfil" value="vendedor" id="vendedor">
              <label for="vendedor">Vendedor</label>
            </div>
            

           <h4>Interes</h4>
            <div class="seleccionInteres">
                <div>
                    <label for="electro">Electro</label>
                    <input type="checkbox" name="electro" value="electro" id="electro">
                </div>
                
                <div>
                    <label for="moda">Moda</label>
                    <input type="checkbox" name="moda" value="moda" id="moda">
                </div>

                <div>
                    <label for="hogar">Hogar</label>
                    <input type="checkbox" name="hogar" value="hogar" id="hogar">
                </div>

                <div>
                    <label for="jugueteria">Jugueteria</label>
                    <input type="checkbox" name="jugueteria" value="jugueteria" id="jugueteria">
                </div>

                <div>
                    <label for="vidaSana">Vida Sana</label>
                    <input type="checkbox" name="vidaSana" value="vidaSana" id="vidaSana">
                </div>

            </div>

            <div>
                <h4><label for="fotoPerfil">Foto de usuario</label></h4>
                <input type="file" name="fotoPerfil" id="fotoPerfil">
            </div>

            <div>
                <input class="text-field" type="password" name="contrasenia" placeholder="Contraseña">
            </div>

            <div>
                <input class="text-field" type="password" name="contraseniaConfirmar" placeholder="Confirmar contraseña">
            </div>


            <div>
                <button class="botonSubmit" type="submit">Enviar</button>
                <button class="botonReset" type="reset">Cancelar</button>
            </div>


        </form>

    </main>



    <footer>

        
        <section>

            <div>
                <i class="fas fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin</p>
                <p> interés con tarjeta o efectivo en puntos de</p>
                <p>pago. ¡Y siempre es seguro!</p>
            </div>

            
            <div>
                <i class="fas fa-gift"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre</p> 
                <p>tenés envíos gratis en miles de productos. Es</p> 
                <p>un beneficio de Mercado Puntos.</p> 
            </div>
        

            <div>
                <i class="fas fa-user-shield"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre,</p>
                <p>no hay nada que no puedas hacer, porque 
                <p>estás siempre protegid@.</p>    
                
            </div>


        </section>

        <div>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>

    </footer>


</body>

</html>