*{box-sizing: border-box;
padding: 0px;
margin: 0px;}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header{
    background-color: #EAC926;
    max-height: 200vh;
}

.top-header {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5%;
    width: 100vw;
}
.logo {
    width: 50%;
    padding: 10px;
}

.buscador{
    display: flex;
    align-items: center;
    width: 50vw;

}

.buscador input {
    width: 85%;
    text-overflow: ellipsis;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border: 0;
    border-radius: 5px;
}

.buscador button{
 position: relative;
 left: -22px;
 border: none;
 background-color: #FFF;

}

.top-header p{
    margin: auto;
    text-align: center;
}

header div.burger-menu i {
    background-color: #1259c3;
    color: #FFF;
    font-size: 20px;
    padding: 10px;
    margin: 10px 0px 20px 0px;
    border-radius: 5px;
}

header div.burger-menu {
    text-align: center;
}

main section article img {
    width: 25%;
}

header nav {
    display: none;
}

header nav ul li a {
    font-size: 15px;
    text-decoration: none;
    color: #000;
}

header nav ul li {
    list-style-type: none;

}

header nav ul {
    margin-bottom: 0px;
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin-right:5%;
}

main section h3 {
    font-size: 24px;
    color: #52515c
}

header {
    width: 100vw;
    padding: 10px;
}

.nav {
    margin-bottom: 50px;
}

.banner-img{
 width: 100vw;
}

main {
    margin: 0 auto;
    width: 90vw;
}

main section article{
    margin-bottom: 10px;
    transition: all 0.5s;
}

main section article img {
    width: 100%;
}

.info-article {
    border-top: solid 1px #ebebeb;
    padding: 15px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.precio {
    width: 50%;
}

.descuento {
    width: 50%;
    color: #39b54a;
}

main section article div i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    color: #39b54a;
    background-color: #FFF;
    border-radius: 100%;
    position: absolute;
    right: 20px;
    top: -15px;
    margin-right: 5%;
    transition: all 0.6s; 
}


main section article div div {
    position: relative;
}

.descriprod {
    display: none;
}

form div {
    border-radius: 5px;
    border: #ebebeb solid 1px;
    width: auto;
}


.formulario-registro {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ededed;
    flex-direction: column;
}

.registro {
    padding: 2%;
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 400vw;
    margin-top: 2.5%;
    justify-content: center;
}

.registro h4{
    margin-top: 20px;
}

.formulario-ingreso {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    background-color: #ededed;

}
  
.ingreso div input{
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.text-field {
    margin-top: 5%;
    padding: 2%;
    border-radius: 10px;
    border: 0;
}

.seleccionPerfil {
    display: inline-block;
    margin-right: 10px;
}

.seleccionInteres {
    display: flex;
    flex-direction: column;
}
 
.botonSubmit {
 margin-top: 5%;
 background-color: #1259c3;
 color: #ebebeb;   
 padding: 2%;
 border-radius: 10px;
 border: 0;
 justify-content: center;
 align-items: center;
 transition: color 0.3s ease; 
}

.botonSubmit:hover {
    background-color: #03264c; 
    color: #fff; 
}

.botonReset {
 margin-top: 5%;
 background-color:#666 ;  
 color: #ebebeb;    
 padding: 2%;
 border-radius: 10px;
 border: 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

footer i{
    margin-top: 5%;
    color: #1259c3;
    font-size: 150%;
}

.copyright{
    margin-top: 40px;
    color: #666;
}

.descriprod {
    transition: all 0.7s;
}


@media (min-width: 361px) {

    .top-header {
        display: flex;
        flex-wrap: nowrap;
        padding: 2%;
        width: 100%;
        height: 100%;
        align-items: center;
    }

    .logo {
        width: 33%;
    }

    .buscador {
        width: 33%;
        display: flex;
        margin-left: 10px;
    }

    .buscador input {
        width: 100%;
    }

    .top-header p {
        width: 33%;
    }

    main section article{
        width: 45%;
    }

    .productos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .descriprod {
        display: block;
    }

    header nav {
        display: flex;
        justify-content: space-between;
    }
    header div.burger-menu {
        display: none;
    }

    .formulario-registro {
        max-height: 400vh;
    }
    
    .formulario-ingreso {
        height: 40vh;
    }

    .text-field{
        width: 50vw;
    }

    .botonSubmit{
        width: 50vw;
    }

    .botonReset{
        width: 50vw;
    }

    div .botonSubmit:hover{
        background-color: #1259c3;
        color: #ebebeb;
        transition-duration: 0.3s;
    }

}

@media (min-width: 769px) {

    main section article{
        width: 22.5%;
    }

    .descriprod {
    transition: all 1s;
    overflow: hidden;
    max-height: 0px;
    }

    article:hover .descriprod{
        max-height: 100px ;
    }

    article:hover {
        box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 );
    }

    article:hover i{
        transform: rotate(-90deg);
    }

    footer{
        width: 100%;
        justify-content: space-around;
    }
    
    footer section{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    footer section div {
        margin-top: 5%;
        margin-left: 10px;
        margin-right: 10px;
    }

    section div i {
        transition: color 0.3s ease; 
    }
    
    section div i:hover {
        color: #03264c; 
    }

}
